<h1>Card</h1>
<div id="card">
{{#if courses.length}}
  <table>
    <thead>
        <td>{{count}}</td>
      <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Действия</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>{{title}}</td>
        <td>
          <button class="btn btn-small js-remove" data-id="{{id}}">Удалить</button>
        </td>
        <td>{{id}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <p><strong>Цена: </strong> <span class="price">{{price}}</span></p>
{{else}}
<p>Корзина пуста</p>
{{/if}}
</div>